.slide_bg_1{background-image: url(../img/hero-area/hero-bg-3.jpg);}
.single_slide_item::after{background: #1a75ee;
    background: -moz-linear-gradient(45deg,  #1a75ee 0%, #18c9f8 100%);
    background: -webkit-linear-gradient(45deg,  #1a75ee 0%,#18c9f8 100%);
    background: linear-gradient(45deg,  #1a75ee 0%,#18c9f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a75ee', endColorstr='#18c9f8',GradientType=1 );
    }
    .single_slide_item {
        height: 100%;
    }
    
    html, body {
        height: 100%;
    }
    
    .single_slide_item {
        display: table;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    
    .slide_item_wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-weight: 300;
        line-height: 1.8;
    }
    
    .single_slide_item::after {
        opacity: .9;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: -1;
    }
    
    .slide_item_wrapper h2 {
        font-size: 64px;
        color: #fff;
        line-height: 1.1;
    }
    
    .video_play_btn {
        height: 60px;
        width: 60px;
        background: #06d6a0;
        display: inline-block;
        text-align: center;
        line-height: 63px;
        color: #fff;
        border-radius: 50%;
        padding-left: 4px;
        margin-top: 15px;
    }

    /* hack slider active */
    .homepage_slides,.homepage_slides div {
        height: 100%;
    }
    
    .homepage_slides div.slide_item_wrapper,.homepage_slides div.slide_item_wrapper div,
    .homepage_slides div.owl-controls,.homepage_slides div.owl-controls div {
        height: auto;
    }
    /* hack slider active end */

    .homepage_slides .owl-nav div {
        position: absolute;
        left: 50px;
        top: 50%;
        color: #fff;
        font-size: 20px;
        opacity: 0.8;
        line-height: 30px;
        margin-top: -15px;
        transition: 0.3s;
    }
    
    .homepage_slides .owl-nav div.owl-next {
        left: auto;
        right: 50px;
    }
    
    .homepage_slides .owl-nav div:hover {
        opacity: 1;
    }

    .header_area.header_absolute {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        width: 100%;
    }
    
    .header_absolute .main_menu li a {
        color: #fff;
    }
    
    .homepage_slides .owl-dots {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
    }
    
    .homepage_slides .owl-dots div {
        display: inline-block;
        background: #fff;
        height: 3px !important;
        width: 20px;
        margin: 0 3px;
    }
    
    .homepage_slides .owl-dots div.active {
        background: #18c9f8;
    }
    
